@tailwind base;
@tailwind components;
@tailwind utilities;
/* imports tailwind.css */

body {
    background-color: black;
  }
img {
    height: auto;
    width: auto;
  }
  
/* makes background fully black */